#main-component {
    padding-top: 35px;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;

    // left section
    .left {
        background-color: #000;
        padding-top: 20px;
        padding-left: 2%;
        background-color: #000;
        padding-top: 20px;
        padding-bottom: 15px;

        .button {
            text-align: center;
            border: 0px solid #2196f3;
            border-radius: 100px;
            background: #2196f3;
            color: #ffffff;
            text-decoration: none;
            width: 100%;
            font-family: 'Lexend Deca', sans-serif;
            font-size: 17px;
            height: 50px;

        }

        .left-containers {
            .left-links {
                color: #fff;
                font-size: 75%;
                line-height: 300%;

                .left-link {

                    font-family: 'Lexend Deca', sans-serif;
                    color: #fff;
                    text-decoration: none;
                    font-weight: lighter;
                }
            }
        }

    }

    // middle section
    .middle {
        margin-top: 15px;
        margin-bottom: 15px;

        .first-middle {
            background-color: #202020;
            padding-bottom: 45px;
            border-radius: 5px;
            padding-left: 3.5%;
            padding-top: 10px;

            .new-codeply {
                font-size: 2.1rem;
                color: rgb(255, 255, 255);
                margin-bottom: -5px;
            }

            .editor {
                color: #2196f3;
            }

            .info-codeply {
                margin-top: 18px;
                color: rgb(177, 174, 174);
            }

            .sign-up {
                background-color: transparent;
                border-radius: 28px;
                border: 1px solid white;
                display: inline-block;
                cursor: pointer;
                color: #ffffff;
                font-family: Arial;
                font-size: 100%;
                padding: 10px 31px;
                text-decoration: none;
                text-shadow: 0px 1px 0px #2f6627;
                margin-right: 5px;
            }

            .sign-up:hover {
                background-color: #919191;
                transition: 0.7s;
            }

            .sign-up:active {
                position: relative;
                top: 1px;
            }

            .sign-up2 {
                background-color: #2196f3;
                border-color: transparent;
            }
        }

    }

    // right section
    .right {
        padding-top: 20px;
        padding-left: 2%;
        margin-bottom: 50px;
        padding-top: 20px;
        background-color: #000;

        .right-containers {
            #h2 {
                color: #2196f3;
                font-weight: bold;
                font-size: 170%;
            }

            .right-links {
                color: #fff;
                font-size: 75%;
                line-height: 240%;
                font-weight: lighter;

                .right-link {
                    font-family: 'Lexend Deca', sans-serif;
                    color: #fff;
                    text-decoration: none;
                    font-weight: lighter;

                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    #main-component {
        .left {
            text-align: center;
        }
    }
}