#main-component {
  padding-top: 35px;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}

#main-component .left {
  background-color: #000;
  padding-left: 1%;
  background-color: #000;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
}

#main-component .left .button {
  text-align: center;
  border: 0px solid #2196f3;
  border-radius: 100px;
  background: #2196f3;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 17px;
  height: 50px;
}

#main-component .left .left-containers .left-links {
  color: #fff;
  font-size: 75%;
  line-height: 300%;
}

#main-component .left .left-containers .left-links .left-link {
  font-family: 'Lexend Deca', sans-serif;
  color: #fff;
  text-decoration: none;
  font-weight: lighter;
}

#main-component .left .left-containers .left-links .left-link .ma-1 {
  margin-right: 2%;
}

#main-component .middle {
  margin-top: 15px;
  margin-bottom: 15px;
}

#main-component .middle .first-middle {
  background-color: #202020;
  padding-bottom: 45px;
  border-radius: 5px;
  padding-left: 3.5%;
  padding-top: 10px;
}

#main-component .middle .first-middle .new-codeply {
  font-size: 2.1rem;
  color: white;
  margin-bottom: -5px;
}

#main-component .middle .first-middle .editor {
  color: #2196f3;
}

#main-component .middle .first-middle .info-codeply {
  margin-top: 18px;
  color: #b1aeae;
}

#main-component .middle .first-middle .sign-up {
  outline: transparent;
  background-color: transparent;
  border-radius: 28px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 100%;
  padding: 10px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin-right: 5px;
  margin-bottom: 10px;
}

#main-component .middle .first-middle .sign-up:hover {
  background-color: #919191;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#main-component .middle .first-middle .sign-up:active {
  position: relative;
  top: 1px;
}

#main-component .middle .first-middle .sign-up2 {
  background-color: #2196f3;
  border-color: transparent;
}

#main-component .middle .second-middle {
  margin-top: 27px;
}

#main-component .middle .second-middle .second-middle-row .picture1 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 150px;
  width: 100%;
  display: block;
  margin-bottom: -15px;
}

#main-component .middle .second-middle .second-middle-row .middle-icon {
  padding-top: 10px;
  background-color: #3b3b3b;
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

#main-component .middle .second-middle .second-middle-row .middle-icon .icon-middle {
  color: white;
  font-size: 30px;
}

#main-component .middle .second-middle .second-middle-row .middle-icon .main-of-first {
  line-height: 0.9;
  color: white;
  text-indent: 2px;
}

#main-component .middle .second-middle .second-middle-row .middle-icon .main-of-first .span-of-first {
  font-size: 12px;
  color: grey;
  font-weight: bold;
}

#main-component .middle .second-middle .second-middle-row .form-first {
  background-color: #3b3b3b;
  margin-bottom: 27px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#main-component .middle .second-middle .second-middle-row .form-first .form-buttons {
  outline: transparent;
  background-color: transparent;
  border-radius: 35px;
  border-color: white;
  border-width: 0.5px;
  width: 30%;
  font-size: 80%;
  color: #818080;
}

#main-component .middle .second-middle .second-middle-row .form-first #special-margin {
  margin-left: 5%;
}

#main-component .middle .second-middle .second-middle-row .form-first .second-form {
  background-color: #2c2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 5%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#main-component .middle .second-middle .second-middle-row .form-first .second-form .button-branch {
  background-color: transparent;
  border-color: white;
  border-radius: 4px;
  border-width: 0.5px;
  color: white;
  font-size: small;
}

#main-component .middle .second-middle .second-middle-row .form-first .second-form .button-arrow {
  background-color: transparent;
  border-color: transparent;
  font-size: large;
  color: #2196f3;
}

#main-component .right {
  padding-top: 20px;
  padding-left: 2%;
  margin-bottom: 50px;
  padding-top: 20px;
  background-color: #000;
  height: 100%;
}

#main-component .right .right-containers #h2 {
  color: #2196f3;
  font-weight: bold;
  font-size: 170%;
}

#main-component .right .right-containers .right-links {
  color: #fff;
  font-size: 75%;
  line-height: 240%;
  font-weight: lighter;
}

#main-component .right .right-containers .right-links .right-link {
  font-family: 'Lexend Deca', sans-serif;
  color: #fff;
  text-decoration: none;
  font-weight: lighter;
}

@media only screen and (max-width: 991px) {
  #main-component .left {
    text-align: center;
  }
  #main-component .right {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  #main-component .left .button {
    font-size: 15px;
  }
  #main-component .left .left-containers {
    margin-left: 15px;
  }
  #main-component .left .left-containers .left-links2 {
    font-size: 8.5px;
  }
}
/*# sourceMappingURL=style.css.map */