#main-component {

    .left {
        margin-top: 20px;
        height: 100%;
        margin-left: 10%;
        
        .button {
            background-color: #2196f3;
            width: 100px;


        }
    }
}