.navbar {
    background-color: #000;

    .nav {

        .codeplay {
            color: #fff;
            font-family: 'Lexend Deca', sans-serif;
            font-weight: bold;
            font-size: 32px;
        }
    }
}

@media only screen and (min-width: 992px) {
    .navbar {

        .nav {
            

            .fa-user {
                color: #fff;
                text-decoration: none;
            }

            .fa-question-circle {
                color: #fff;
                text-decoration: none;
            }

            .fa-tags {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}