// NavBar Section
.navbar {
    background-color: #000000;


// CodePLY Logo Written
    .navbar-brand {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
    }


// Left-icons
    .fas {
        color: grey;
    }
}